html {
	overflow-y: scroll;
}


table {
	width: 100%;
}

#top-row {
	text-transform: uppercase;
	text-align: right;
	ul {
		margin: 0;
		padding-top: 10px;
	}
	a {
		font-size: rem-calc(14);
	}
}

#navigation {
	ul.main-menu {
		margin: 25px 0 0 0;
		border-top: 1px dashed $gainsboro;
		border-bottom: 1px dashed $gainsboro;
		float: right;
		li {
			display: table-cell;
			a {
				text-transform: uppercase;
				padding: 1.25rem 2.25rem;
				display: block;
			}
			&.first {
				a {
					padding-left: 1rem;
				}
			}
			&.last {
				a {
					padding-right: 0;
				}
			}
		}
	}
}

#breadcrumb {
	font-size: rem-calc(12);
	text-transform: uppercase;
	margin-bottom: 10px;
}

#main {
	padding-top: 50px;
}

.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

h2 {
	font-color: $secondary-color;
}

.text-primary-color {
	color: $primary-color;
}

.block-menu-block {
	h2 {
		a {
			color: $body-font-color;
		}
	}
}
.menu-name-main-menu {
	ul.menu {
		margin: 0;
		li {
			list-style-image: none;
			list-style-type: none;
			margin: 0;
			&.last {
				border-bottom: 1px solid $gainsboro;
			}
			a {
				border-top: 1px solid $gainsboro;
				padding: 0.5em;
				display: block;
				&.active {
					color: $body-font-color;
				}
			}
		}
	}
}


.language-switcher-locale-url {
	li {
		list-style: none;
		display: inline-block;
		&.first {
			a {
				border-right: 1px solid $oil;
				padding-right: 4px;
			}

		}
	}
}


/** remove language link **/
.page-node {
	.content {
		ul.links {
			.language-link {
				display: none;
			}
		}
	}
}

.node-type-page {
	#content-header {
		h1.title {
			position: absolute;
			left: -9999px;
		}
	}
}


.page-early-stars-rated-programs, .page-node-contact
 {
	#content-header {
		h1.title {
			position: initial;
		}
	}
}


.field-name-body {
	padding: 20px;
}

ul.stars {
	li {
		background: url(../images/star_orange_50.png) no-repeat left top;
		background-size: 30px;
		height: 30px;
		padding-left: 45px;
		padding-top: 3px;
		margin-bottom: 10px;
		line-height: 1.25em;
		&.list-item-long {
			margin-bottom: 25px;
		}
	}
}


/** Front Page Content **/

.front-content {
	.homepage-hero-intro {
		font-size: rem-calc(75);
		font-weight: 100;
		margin-bottom: 20px;
		text-align: center;
		font-family: $font-family-sans-serif;
	}

	.columns {
		text-transform: uppercase;
		.column-title {
		}
		h2 {
			margin: 0;
			padding: 5px 0;
			font-weight: 700;
			font-size: rem-calc(36);
			text-align: center;
		}
		a {
			.text {
			font-size: rem-calc(32);
			font-weight: 200;
			line-height: 1.25em;
			margin: 0;
			text-shadow: 0 0 30px rgba(38, 38, 38, .3);
			}
			.link {
				width: 435px;
				position: absolute;
				bottom: 0;
				color: $white;
				display: block;
				text-align: center;
				padding: 10px 0;
				font-size: rem-calc(28);
				font-weight: 400;
				-webkit-transition: text-shadow .25s ease-out;
			  -moz-transition: text-shadow .25s ease-out;
			  -o-transition: text-shadow .25s ease-out;
			  transition: text-shadow .25s ease-out;
			  span {
			  	font-weight: 700;
				}
			}	
		}
	}
	.inner {
		min-height: 400px;
	}

	.educators {
		a {
			&:hover {
				.link {
					color: $blue;
				}
				text-shadow: 5px 5px 20px rgba(255, 255, 255, 1), -5px -5px 20px rgba(255, 255, 255, 1);
				cursor: pointer;
			}
		.inner {
			max-width: 435px;
			background: url(../images/bg_hero_educators.jpg);
			background-size: cover;
				.text {
				position: absolute;
				right: 30px;
				top: 30px;
				text-align: right;
				color: $white;
				}
			}
		}
	}
	.parents {
		a {
			.link {
				color: $blue;
			}
			&:hover {
				.link {
					color: $white;
				}
				text-shadow: 0 0 40px rgba(241, 0, 30, 1);
				cursor: pointer;
			}
			.inner {
			max-width: 435px;
			background: url(../images/bg_hero_parent.jpg);
			background-size: cover;
				.text {
					position: absolute;
					left: 30px;
					top: 30px;
					color: $brown;
				}
			}
		}	
	}
}

/** Child Care Modal **/

.reveal-modal-bg {
	background: rgba(204, 204, 204, 0.25);
}

.reveal-modal .close-reveal-modal {
	color: $white;
	font-weight: 100;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 4px;
	text-align: center;
	background: $primary-color;
}


.child-care-modal {
	background-color: $gainsboro;
	background-image: linear-gradient($gainsboro, $silver);
	color: $jet;
	h2 {
		font-weight: 700;
		font-size: rem-calc(32);
		color: $jet;
	}
}


/** Program Node **/
.program-info {
	.field {
		margin-bottom: 15px;
	}
}

.field-name-field-program-rating {
	display: inline-block;
}

.field-name-field-program-type {
	clear: both;
}

.node-type-program {
	.field-name-body {
		padding: 0;
		margin-top: 20px;
	}
}


/** Footer **/
#footer {
	margin-top: 50px;
	margin-bottom: 25px;
	.container {
		padding-top: 20px;
		border-top: 1px solid $gainsboro;
		.contact {
			font-size: rem-calc(14);
			h2 {
			font-size: rem-calc(18);
			margin-top: 0;
			margin-bottom: 3px;
			}
		}
		.logo {
			margin-top: 10px;
		}	
	}
}



/** i18n **/

.i18n-es 
{
	#navigation {
		ul.main-menu {
			font-size: rem-calc(14);
			li {
				a {
					padding: 1.25rem 1.7rem;
				}
				&.first {
					a {
						padding-left: .5rem;
					}
				}
			}
		}
	}
	.front-content {
		.homepage-hero-intro {
			font-size: rem-calc(60);
		}
	}
}

















/** Media Queries **/

@media #{$medium-only} {
	#navigation {
		ul.main-menu {
			float: none; 
		}
	}
	
	#main {
		margin-top: 20px;
		padding-top: 0;	
	}

	section#content {
		margin-top: 20px;
	}

	.front-content {
		.homepage-hero-intro {
		font-size: rem-calc(50);
		}
		.columns {
			margin-bottom: 10px;
		}
		.educators {
			a {
				.inner {
					background: url(../images/bg_hero_educator_900_2.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center bottom;
					max-width: 100%;
					.link {
						background-color: $light-blue;
						display: block;
						right: 15px;
					}
					.text {
						position: absolute;
						right: 50px;
						top: 30px;
						text-align: right;
						color: $white;
					}
				}
			}
		}
		.parents {
			a {
				.inner {
					background: url(../images/bg_hero_parent_900.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center bottom;
					max-width: 100%;
					.link {
						background-color: $light-orange;
						display: block;
					}
					.text {
						left: 50px;
					}
				}
			}	
		}
	}
	.i18n-es {
		.front-content {
			.homepage-hero-intro {
				font-size: rem-calc(45);
			}
		}
	}
}




@media #{$small-up} {
	.menu-name-main-menu {
		ul.menu {
			margin: 0;
			li {
				list-style-image: none;
				list-style-type: none;
				margin: 0;
				&.last {
					border-bottom: 0px solid $gainsboro;
				}
				a {
					border-top: 1px solid $gainsboro;
					padding: 0.25em;
					display: block;
					font-size: rem-calc(14);
					&.active {
						color: $body-font-color;
					}
				}
			}
		}
	}
}


@media #{$small-only} {
	#main {
		margin-top: 20px;
		padding-top: 0;	
	}

	section#content {
		margin-top: 20px;
	}

	.logo-container {
		margin-top: 12px;
	}

	.block-menu-block {
		h2 {
			font-size: rem-calc(24);
		}
	}

	.front-content {
		.homepage-hero-intro {
		font-size: rem-calc(36);
		}
		.columns {
			margin-bottom: 10px;
			a {
				font-size: rem-calc(16);
				.inner {
					max-width: 640px;
					min-width: 350px;
					.text {
						font-size: rem-calc(26);
					}
					.link {
						width: 100%;
						min-width: 350px;
						padding: 10 0;
						font-size: rem-calc(22);
					}
				}
			}	
		}
		.educators {
			a {
				.inner {
					position: relative;
					background: url(../images/bg_hero_educators.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center bottom;
					.text {
						right: 30px;
						position: absolute;
					}
				}
			}
		}
		.parents {
			a {
				.inner {
					position: relative;
					background: url(../images/bg_hero_parent.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center bottom;
					.text {
						left: 20px;
						position: absolute;
					}
				}
			}
		}
	}
	ul.stars {
		li {
			background: url(../images/star_orange_50.png) no-repeat left top;
			background-size: 20px;
			height: 25px;
			padding-left: 35px;
			padding-top: 2px;
			margin-bottom: 20px;
			line-height: 1.25em;
			font-size: rem-calc(14);
		}
	}
	.i18n-es {
		.front-content {
			.homepage-hero-intro {
				font-size: rem-calc(30);
			}
		}
	}
}


@media #{$large-up} {
	#navigation {
		ul.main-menu {
			margin: 25px 0 0 0;
			border-top: 1px dashed $gainsboro;
			border-bottom: 1px dashed $gainsboro;
			float: right;
			li {
				display: table-cell;
				a {
					text-transform: uppercase;
					padding: 1.25rem 2.25rem;
					display: block;
				}
				&.last {
					a {
						padding-right: 0;
					}
				}
			}
		}
	}

	.menu-name-main-menu {
		ul.menu {
			margin: 0;
			li {
				a {
					font-size: rem-calc(16);
				}
			}
		}
	}



}



